<br />
<br />
<div class="container">
	<div class="span10">
		<div class="well" id="welcomewell">
		<h1>Welcome to the Merchant Hunter</h1>
		<h2>LivingSocial's new tool enabling you to target high quality merchants in your market</h2>


		</div>
		<h2>Please log-in or create an account to continue</h2>
		<button class="btn-large">Dropup</button>
	</div>
</div>