<div class="sidebar_well span3">
  <h3 class="deals-returned"><%=@market.merchants.count %> Merchants Returned</h3>
  <a class="filters-reset">Clear All Filters</a>
  <div id="multiAccordion">
    <h3><a href="#">Filter By Deal Provider</a></h3>
    <div>
        <div id="provider-boxes">
          <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="run_with_gpn" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="run_with_gpn" class="bouncepins">  Groupon Merchants</a></p>
          <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="run_with_ls" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="run_with_ls" class="bouncepins">  LivingSocial Merchants</a></p>
          <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="third_party" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="third_party" class="bouncepins">  Only Run with Third Party</a></p>
          <a class="provider-reset">Show All Providers</a>
        </div>
    </div>
    <h3><a href="#">Filter By Merchant Category</a></h3>
    <div>
        <div>
          <select data-placeholder="Filter by Categories" style="width:200px;" id="categories" multiple class="chzn-select-categories" tabindex="8">
            <option value=""></option>
            <% @market.categories.each do |category| %>
            <option><%= category %></option>
            <% end %>
          </select>           
          <a class="category-reset">Show All Categories</a> ​
          <br />
          <br />
          <br />
          <br />
        </div>
    </div>
    <h3><a href="#">Filter By Revenue</a></h3>
    <div>
        <div>
          <div id='revenue-range'></div>
          <p>
            <input type="text" id="filtered-rev"/>
          </p>
          <a class="revenue-dollar">$1 +</a> |
          <a class="revenue-reset">Show All Revenues</a>
        </div>
    </div>
    <h3><a href="#">Filter by Run Date</a></h3>
    <div>
        <div>
          <div id='date-range'></div>
          <p>
            <input type="text" id="filtered-dates"/>
          </p>
          <p><a class="date-reset">Show All Dates</a></p>
          <p> Past:
          <a class="date-move" data-days='30'>30</a> |
          <a class="date-move" data-days='90'>90</a> |
          <a class="date-move" data-days='180'>180</a> |
          <a class="date-move" data-days='360'>360</a>
        </p>
        </div>
    </div>
    <h3><a href="#">Filter By Core Selling Area/Zip</a></h3>
    <div>
        <div id="zip-boxes">
          <p>
            <input type="checkbox" data-property-value="true" data-property-name="csa" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="csa" class="bouncepins">   Inside Core Selling Area</a>
          </p>
          <p>
            <input type="checkbox" data-property-value="true" data-property-name="outside_csa" class="showhide"checked/>  <a href="#" data-property-value="true" data-property-name="outside_csa" class="bouncepins">Outside Core Selling Area</a>
          </p>

          <select data-placeholder="Filter by Zipcodes" style="width:200px;" id="zips" multiple class="chzn-select-zips" tabindex="8">
            <option value=""></option>
            <% @market.zips_index.each do |zip, freq| %>
            <option><%= zip %></option>
            <% end %>
          </select>
          <a class="zip-reset">Show All Zips</a>
          <br />
          <br />
          <br />
        </div>
    </div>
    
  </div>
</div>