<p class="pull-right" id="toplinks">
	<a class='iframestats' href='<%="#{@market.id}/stats"%>'>View Market Statistics</a> |
	<a class='iframemarkets' href='/markets'>View all Markets</a> |
	<a class='iframemarkets' href='<%="/users/#{current_user.id}"%>'>Edit My Markets</a> |
	<a href="#" id="placeme">Place me on map</a>
</p>